# systemd service for emacs web server
# run `sudo ./web-server-org-setup.sh` first
[Install]
WantedBy=multi-user.target

[Service]
# env file to load dir, hostname, port
EnvironmentFile=/opt/web-server-org/env
# ensure directory exists
ExecStartPre=bash -c 'if [ ! -d '"${ORG_SERVER_FILE_DIRECTORY}"' ];\
then echo '"target directory ${ORG_SERVER_FILE_DIRECTORY} not found"';\
exit 1; fi'
ExecStart=bash -c 'yes yes|\
emacs --batch -l /opt/web-server-org/web-server-org.el -f web-server-org-main -- \
--short-log-prefix --dir='"${ORG_SERVER_FILE_DIRECTORY}"' \
--host='"${ORG_SERVER_HOST}"' --port='"${ORG_SERVER_PORT}"
Restart=on-failure
RestartSec=5s
ExecReload=/bin/kill -HUP $MANPID

TimeoutStopSec=10s

# Make /usr, /boot, /etc and possibly some more folders read-only...
ProtectSystem=full
# ... except /etc/web-server-org/
# This merely retains r/w access rights, it does not add any new.
# Must still be writable on the host!
ReadWriteDirectories=/etc/web-server-org/
User=web-server-org
